.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    .container{
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background: #35D4A6;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
        .success{
            font-size: 9rem;
        }
    }
    .context-wrapper{
        .contact{
            color: white;
            font-size: 24px;
            text-align: center;
        }
    }
}
