<div class="container">
  <div class="top-header">
    <div class="title-container">
      <div class="title">
        מבצע לכל חברי קופות החולים:
      </div>
      <img src="assets/icons/klalit.png" alt="">
    </div>
  </div>
  
  <div class="content">
      <app-slideshow></app-slideshow>
    <div class="wrapper">
      <div class="suffer">
        למה לסבול מפלאטפוס/הולפוס/כאבי גב/כאבי ברכיים ועוד המון...
      </div>
      <div class="title">
        הפיתרון המהפכני לכאבי גב ורגליים
      </div>
      <div class="title">כבר כאן</div>
      <div class="gimic">
        <div class="instead-of">
          במקום <span>199₪</span>
        </div>
        <div class="only">
          רק
        </div>
        <div class="current-price">
          99₪
        </div>
      </div>
      <div class="button" (click)="openModal($event)">
        ליחצו כאן להשארת פרטים ומומחה יחזור אליכם בהקדם
        <span>ללא עלות</span>
      </div>
      
    </div>
  </div>

  <div class="content-two">
    <div class="container">
      <div class="text-one">
        <div class="header">
         אוקי, אז הלכנו לרופא והוא אמר לנו שאנו סובלים מפלאטפוס / כאבי רגליים או כל דבר כזה...
        </div>
        <div class="subtitle">
מה עושים?
<div class="img">

  <img src="assets/icons/question-mark.png" alt="question-mark">
</div>
         </div>
      </div>
    </div>
  </div>

  <div class="content-three">
    <div class="how-it-works">

      <div class="wrapper">
        <div class="text">
          משאירים פרטים
        </div>
        <div class="img">
          <img src="assets/icons/leave-details.png" alt="details">
        </div>
      </div>

      <div class="wrapper">
          <div class="text">
            אחד מנציגנו חוזר אליכם
          </div>
          <div class="img">
            <img src="assets/icons/phonecall.png" alt="">
          </div>
        </div>

        <div class="wrapper">
            <div class="text">מתאמים פגישה</div>
            <div class="img">
              <img src="assets/icons/schedule.png" alt="">
            </div>
          </div>

          <div class="wrapper">
              <div class="text">מגיעים עד אליכם יוצרים את המדרס בהתאמה אישית וזהו</div>
              <div class="img">
                <img src="assets/icons/done.png" alt="">
              </div>
            </div>


    </div>
  </div>
  <div class="footer"></div>
</div>

<app-modal *ngIf="modalOpen" [@simpleFadeAnimation]="'in'" (exit)="closeModal()" [pos]="pos"></app-modal>